/* Main content styles */
main {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #6b4f4f;
}

h2 {
    color: #333;
    margin-bottom: 15px; /* Added margin for spacing */
}

p {
    line-height: 1.6;
}

/* Contact form styles */
.contact-form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: #4CAF50; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

.contact-form button {
    background: #35424a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.contact-form button:hover {
    background: #e8491d;
}

/* Map container styles */
.map-container {
    max-width: 500px;
    height: 300px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
}

/* Operating hours styles */
.operating-hours p {
    margin: 5px 0;
}

/* Additional contact info styles */
.additional-contact-info p {
    margin: 5px 0;
}

/* Toast Notification Styles */
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 5px;
    opacity: 0.9;
    font-family: Arial, sans-serif;
    z-index: 1000;
    animation: fade-in-out 3s ease-in-out;
}

.toast.success {
    background-color: #4CAF50;
}

.toast.error {
    background-color: #f44336;
}

@keyframes fade-in-out {
    0% { opacity: 0; transform: translateY(10px); }
    10% { opacity: 0.9; transform: translateY(0); }
    90% { opacity: 0.9; }
    100% { opacity: 0; transform: translateY(10px); }
}

/* Responsive Styles */
@media (max-width: 600px) {
    .contact-form, .map-container {
        width: 90%;
        margin: 10px auto;
    }
    .contact-form h2 {
        font-size: 20px;
    }
    .contact-form button {
        width: 100%;
        padding: 12px;
    }
}